$container-width: 320px;
$container-width-high-rez: 70%;

$brand-main: #711294;

$gray-main: #2b2b2b;
$gray-secondary: #707070;
$gray-secondary-light: #ccc;
$gray-tertiary: #e8e8e8;

$black: #111;
$white: #fff;
$icon-background: #eee;
$background-light: #e8e8e8;
