$fa-font-path: '/fonts';

@import './../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import './../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import './../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import './../node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import './../node_modules/@glidejs/glide/src/assets/sass/glide.theme';

// site fonts
@import './fonts';

//bootstrap
@import './../node_modules/bootstrap/scss/bootstrap-reboot';
@import './../node_modules/bootstrap/scss/utilities';

//variables
@import './reset';
@import './variables';
@import './common';

@import './shared/index';
@import './homepage/index';
@import './category/index';
@import './product-page/index';

body {
  font-family: 'Playfair Display', sans-serif;
  color: $gray-main;
}
