.header {
  @include media-breakpoint-up('md') {
    background: url('/img/banners/banner_00_monochrome.png') no-repeat center
      center;
    background-size: cover;
    height: 520px;
    position: relative;
    margin-bottom: 20px;
    display: block;
  }

  padding-top: 20px;
  position: relative;
}

.header-top {
  @include media-breakpoint-up('md') {
    display: none;
  }

  a {
    display: block;
    text-align: center;
    color: $gray-secondary;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 17px;
  }
}

.header-main {
  @include media-breakpoint-up('md') {
    margin: 10px 20%;
  }

  display: flex;
  justify-content: space-between;
  margin: 10px 5%;

  &:first-child {
    @include media-breakpoint-up('md') {
      display: none;
    }
  }

  a {
    color: $black;
    font-size: 20px;
  }
}

.header-logo {
  @include media-breakpoint-up('md') {
    display: none;
  }
}

.user-controls {
  @include media-breakpoint-up('md') {
    display: none;
  }

  ul {
    li {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.header-social-and-contact {
  @include media-breakpoint-up('md') {
    display: block;

    .header-social,
    .header-contact {
      display: inline-block;
    }
  }

  display: none;
}

.header-social {
  @include media-breakpoint-up('md') {
    display: flex;
    justify-content: flex-end;

    ul {
      li {
        display: inline-block;
        margin-left: 15px;
      }

      a {
        color: $white;
        font-size: 25px;
      }

      i {
        color: $white;
      }
    }
  }
}

.header-contact {
  @include media-breakpoint-up('md') {
    margin-left: 15px;

    a {
      color: $white;
      font-size: 25px;
    }

    & :hover {
      text-decoration: none;
    }

    i {
      display: none;
    }
  }
}

.header-search {
  @include media-breakpoint-up('md') {
    display: block;
    margin-right: 10px;

    input {
      font-family: 'Roboto';
    }

    .search-form,
    .high-rez-user-controls {
      display: inline-block;
      color: $gray-secondary;
    }

    button {
      background-color: transparent;
      border: transparent;
    }

    i {
      color: $gray-secondary;
      font-size: 22px;
    }

    & :hover {
      color: $brand-main;
    }
  }

  display: none;
}

.high-rez-user-controls {
  @include media-breakpoint-up('md') {
    li {
      display: inline-block;
      margin-left: 15px;
    }

    a {
      color: $gray-secondary;
    }
  }
}

.header-bottom {
  @include media-breakpoint-up('md') {
    display: none;
  }

  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: $black;

  a {
    color: $white;
    font-size: 25px;
  }

  .header-controls {
    margin-left: 10%;
  }
}

.header-controls-search {
  margin-right: 10%;
  margin-left: 15%;

  button {
    background-color: transparent;
    border: transparent;
    position: absolute;
    left: 310px;
  }

  input {
    background-color: transparent;
    border: 1px solid $gray-secondary;
    width: 227px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .fa-search {
    color: $gray-secondary;
    font-size: 11px;
  }
}
