.catalog-preview {
  text-align: center;
  margin: 0 auto;

  &:nth-of-type(1) {
    header {
      & :first-child {
        @include media-breakpoint-up('md') {
          display: none;
        }

        font-size: 18px;
      }

      & :nth-child(2) {
        @include media-breakpoint-up('md') {
          display: block;
        }

        display: none;
      }
    }
  }

  &:nth-of-type(2) {
    header {
      & :first-child {
        @include media-breakpoint-up('md') {
          display: none;
        }

        font-size: 18px;
      }

      & :nth-child(2) {
        @include media-breakpoint-up('md') {
          display: block;
        }

        display: none;
      }
    }
  }
}

header {
  border-top: 1px solid $gray-secondary-light;

  h1 {
    @include media-breakpoint-up('md') {
      font-size: 35px;
      text-transform: capitalize;
      margin: 15px 0;
    }

    margin: 10px 0;
    font-size: 18px;
  }
}

.product-tiles {
  @include media-breakpoint-up('md') {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }

  display: flex;
  justify-content: space-between;
  max-width: $container-width;

  a {
    color: $black;
    font-size: 22px;
    text-decoration: none;
  }
}

footer {
  @include media-breakpoint-up('md') {
    display: block;
    margin-bottom: 100px;
  }

  display: none;
}

.catalog-cta {
  @include media-breakpoint-up('md') {
    display: inline-block;
    font-family: 'Roboto';
    font-size: 22px;
    text-decoration: none;
    color: $gray-main;
    margin: 0 auto;
    padding: 5px 10px;
    border: 1px solid $gray-main;

    &:hover {
      background-color: $brand-main;
      text-decoration: none;
      color: $white;
      opacity: 70%;
      transition: 2s;
      border: 1px solid $white;
    }
  }
  display: none;
}
