.row {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

// Copiaza proiectul Sass in director ruleaza npm install,
// genereaza un fisier CSS din Sass si leaga fisierul CSS de cel HTML
$colors: (
  'main': red,
  'primary': blue,
  'secondary': green,
  'tertiary': yellow,
  'neutral': gray,
);

@each $suffix, $color in $colors {
  .btn-#{$suffix} {
    color: $color;
  }
}
